{% extends "layout.html" %}

{% block title %}Home{% endblock %}

{% block content %}
  <h1>Home</h1>


<form action="/action_page.php">
  <label for="fname"> Share any random thoughts! </label>
  <input type="text" id="fname" name="fname"><br><br>
 
  <input type="submit" value="Submit">
</form>

<form action="/action_page.php">
  <label for="fname"> Question: What are some paranormal experiences that you've had? What's your explaination? </label>
  <input type="text" id="fname" name="fname"><br><br>
 
  <input type="submit" value="Submit">
</form>

{% endblock %}
